@import "../../node_modules/bootstrap/less/bootstrap";
@import "../../node_modules/font-awesome/less/font-awesome";


@import url(https://fonts.googleapis.com/css?family=Yeseva+One);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);

@footer-height: 190px;

body {
  font-family: 'Fauna One', serif;
  min-height: 100vh;
  background-color: #EFEFEB;
}

#wrap {
  min-height: 100vh;
  padding-bottom: @footer-height;
  margin-bottom: -@footer-height;
}

///////////////
/*SPLASH PAGE*/
///////////////

.fullpage {
  background: url('../images/kitchen3.jpeg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  h4 {
    color: #F76652;
    font-style: italic;

    font-weight: bolder;
  }
}

#splashimage {
  height: 280px;
  width: 520px;
  margin-top: 10%;
}

.splashbuttons {
  padding-top: 40px;
   ul li a {
  background-color: #D3D3D3;
  }
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


//////////
/*NAVBAR*/
//////////

.navbar-default {
  background-color: white;
}

.logo {
  height: 50px;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:hidden;
  background-color:rgba(255,255,255,.8);
}

#login-dp .help-block {
  font-size:12px;
}

#login-dp .bottom {
  background-color:rgba(255,255,255,.8);
  border-top:1px solid #ddd;
  clear:both;
  padding:14px;
}

#login-dp .social-buttons {
  margin:12px 0;
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #fff;
  background-color:#3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color:#496ebc;
}

.btn-tw {
  color: #fff;
  background-color:#55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color:#59b5fa;
}

@media(max-width:768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }


  #login-dp .bottom {
    background-color: inherit;
    border-top:0 none;
  }
}

////////////////////////////////
/*JUMBOTRON & RESPONSIVE VIDEO*/
////////////////////////////////

.jumbotron {
  background: url('../images/kitchen2.jpeg') no-repeat;
  background-position: bottom;
  background-size: cover;
  height: auto;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}

.flex-video.widescreen {
  padding-bottom: 57.25%;
}

.flex-video.vimeo {
  padding-top: 0;
}

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
.flex-video { padding-top: 0; }
}

.channelhover {
  cursor: pointer;
  opacity: .5;
  border: solid 3px;
}

.channelhover:hover {
  opacity: 1;
}

/////////////////
/*FEATURED USER*/
/////////////////

.profile-header-img {
  padding: 10px 54px 54px 54px;
}

.profile-header-img > img.img-circle {
  width: 150px;
  height: 150px;
  box-shadow: 0px 2px 36px 14px rgba(0,0,0,0.9);
}

.profile-header {
  margin-top: 43px;
}

.rank-label-container {
  margin-top: -19px;
  text-align: center;
}

.label.label-default.rank-label {
  font-family: 'Merriweather Sans';
  background-color: rgb(158, 38, 0);
  padding: 6px;
  border-radius: 27px;
  font-size: 18px;
  box-shadow: 1px 8px 36px 4px rgba(0,0,0,0.9);
}

.fa-circle {
  color: rgb(84, 195, 92);
}

.usertag {
  background-color: rgba(119, 119, 119, .6);
  color: #FCF2E5;
  border-radius: 27px;
  padding: 5px;
  margin: 0px 3px 0px 3px;
}

.usertaghead {
  margin-top: 15px;
}

.jumbotron p {
  color: rgb(208, 208, 208);
  font-weight:normal;
  font-size: 16px;
}

.morevids {
  min-height: 110px;
  background-color: rgba(0,0,0,0.6);
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.thumbnail img {
  margin: 0px;

}

.thumbnail {
  max-width: 80px;
}

//////////////////
/*WHATS TRENDING*/
/////////////////

.lead {
  margin-bottom: 0px;
}

.relatedusers {
  color: #EFEFEB;
}

.whatstrending {
  font-style: italic;
  font-size: 35px;
  padding-top: 70px;
  padding-bottom: 35px;
  color: rgb(131, 131, 131)
}

.trendingviewmore {
  padding: 20px 0px 80px 0px;
  a{
    background-color: RGBA(219, 227, 231, 1);
    border: 2px solid;
  }
}

.trendingtab {
  box-shadow: rgba(0,0,0,.2) 3px 5px 5px;
}

////////////////////////
/*BECOME A BROADCASTER*/
////////////////////////

.broadcaster {
background: url('../images/kitchen1.jpeg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.broadcasterinner {
  position: relative;
  top: 30%;
  a {
    background-color: rgba(134, 214, 254, .7);
    border: 2px solid;
  }
  h3 {
    margin-bottom: 0px;
    font-family: 'Merriweather';
  }
  h2 {
    margin-top: 5px;
  }
}

///////////////////////
// SOCIAL MEDIA SECTION
///////////////////////

.socialsection {
  height: 80vh;
}

.kitchnews {
  position: relative;
  top: 30%;
}

.btn3d {
  position:relative;
  border:0;
  border-radius:3px;
  margin:15px 10px 0 0;
  transition:all .09s linear;
  box-shadow:0 0 0 1px transparent inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 6px 6px 0 0 #ccc, 6px 6px 0 1px rgba(0,0,0,0.2), 6px 6px 3px 0px rgba(0,0,0,0.3);
  outline:medium none;
}

.btn3d:active {
  top:7px;
}
.btn3d:focus {
  outline:medium none;
  -moz-outline-style:none;
}
.btn3d.btn-default {
  background-color:#f5f5f5;
}

.btn-facebook {
	background-color:#3b5998;
  color:#fff;
}
.btn-google {
	background-color:#dd4b39;
  color:#fff;
}
.btn-twitter {
	background-color:#2ba9e1;
  color:#fff;
}
.btn-pinterest {
	background-color:#cb2027;
  color:#fff;
}
.btn-tumblr {
	background-color:#2c4762;
  color:#fff;
}
.btn-facebook:hover,.btn-facebook:focus,
.btn-twitter:hover,.btn-twitter:focus,
.btn-google:hover,.btn-google:focus,
.btn-tumblr:hover,.btn-tumblr:focus,
.btn-pinterest:hover,.btn-pinterest:focus{
	color: rgb(166, 166, 166);
}

///////////////
//FOOTER STYLES
///////////////

.footer-distributed{
  background-color: #33383B;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: normal 16px sans-serif;
  height: @footer-height;
}

.footeritems {
  padding-top: 40px;
}

.footer-distributed .footer-left p{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed p.footer-links{
  font-size:16px;
  color: #E5DDCF;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 400px;
}

.footer-distributed .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}

.footer-links a{
  padding: 5px 15px 5px 15px;
}

@media (max-width: 600px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    text-align: center;
  }

  .footer-distributed .footer-right{
    float: none;
    margin: 0 auto 20px;
  }

  .footer-distributed .footer-left p.footer-links{
    line-height: 1.8;
  }
}

.copyright {
  padding-left: 15px;
}

///////////////
// PROFILE PAGE
///////////////

.profilebanner {
  border-radius: 5px;
  height: auto;
  padding-top: 120px;
  margin: 0;
  background: url('../images/tomatoes.png');
  padding-bottom: 10px;
  border: 1px solid;
}

.profilepic {
  position:absolute;
  top: -10px;
  left: 30px;
  box-shadow: 0px 0px 0px 8px #EFEFEB;
  border-radius: 100px;
}

.profilenav:hover {
  cursor: pointer;
  background-color: rgb(219, 219, 219);
}

.usernamebanner {
  margin-bottom: 10px;
}

.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {margin-top: 0;margin-bottom: 5px;border: 0;border-top: 1px solid rgb(199, 199, 199);}
.heartcolor {color: red; padding-right: 2px;}
.commentcolor { color: blue; }
.morevidtitle { margin-top: 0px; }

.broadcastbuttons {
  margin-bottom: 20px;
}

.previousbroadcastitem {
  margin: 10px 10px 20px 10px;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(228, 228, 228);
  border: 1px solid rgb(133, 133, 133)
}

.previousbroadcastinfo {
  margin-bottom: 3px;
}

.previousbraodcasttitle {
  font-weight: bold;
}

.previousbroadcastimage {
  padding-top: 7px;
  padding-bottom: 5px;
}

.panel-default > .panel-heading {
  background-color: rgba(106, 255, 255, 0.4);
  font-weight: bolder;
  font-size: 16px;
  border: 1px solid rgb(181, 181, 181);
}
